<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <md-card>
    <md-card-header>
      <md-card-title>CONFIGURACION DEL SISTEMA</md-card-title>
    </md-card-header>
    <md-card-content>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <md-form-field style="width:90%;">
                <input mdInput placeholder="URL Servicio de logeo" name="loggingSource" 
                [(ngModel)]="config.loggingSource" required>
            </md-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <md-form-field style="width:90%;">
              <input mdInput placeholder="URL Servicio de autorización" name="authorizeSource" 
              [(ngModel)]="config.authorizeSource" required>
          </md-form-field>
      </div>
      </div>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button type="submit" color="success" [disabled]="!formValid(form)">
          <i class="fa fa-pencil" aria-hidden="true"></i> Actualizar
      </button>
      <button md-raised-button type="button" color="warn" (click)="onCancel()">
        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
      </button>
    </md-card-actions>
  </md-card>
</form>