<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <h2 md-dialog-title>ALTA DE USUARIO</h2>
  <hr style="border-color: black;">
  <md-dialog-content>
    <div class="row">
        <md-form-field class="col-lg-6 col-md-6">
            <input mdInput placeholder="Nombre de Usuario" name="userName" 
            ngModel required>
        </md-form-field>
        <md-form-field class="col-lg-6 col-md-6">
            <input mdInput type="email" placeholder="Email" name="email" 
            ngModel email required>
        </md-form-field>
        <md-form-field class="col-lg-6 col-md-6">
            <input mdInput placeholder="Nombre" name="firstName" 
            ngModel required>
        </md-form-field>
        <md-form-field class="col-lg-6 col-md-6">
            <input mdInput placeholder="Apellido" name="sureName" 
            ngModel required>
        </md-form-field>
      </div>
      <div class="form-inline">
          <input type="file" id="uploadFile" placeholder="Imagen de Perfil"
          accept="image/x-png,image/gif,image/jpeg" name="uploadFile"/>
      </div>
  </md-dialog-content>
  <md-dialog-actions align="end">
    <button md-raised-button type="submit" color="success" [disabled]="!form.valid">
        <i class="fa fa-check" aria-hidden="true"></i> Guardar
    </button>
    <button md-raised-button md-dialog-close color="warn">
        <i class="fa fa-times" aria-hidden="true"></i> Cancel
    </button>
  </md-dialog-actions>
</form>