
IntegracionDeAplicaciones/java/workspace/RemoteSystemsTempFiles/\.project
node_modules/
dist/
.settings
.classpath
.recommenders


back/workspace/RemoteSystemsTempFiles/
*.MF

back/workspace/portal-seven-web/META-INF/
back/workspace/portal-seven-ejb/ejbModule/META-INF/persistence.xml
back/workspace/portal-seven-ejb/ejbModule/ar/edu/uade/ia/entities/business/Image.java
back/workspace/portal-seven-ejb/ejbModule/ar/edu/uade/ia/entities/business/Image.java
back/workspace/portal-seven-ejb/ejbModule/META-INF/persistence.xml
back/workspace/portal-seven-ejb/ejbModule/ar/edu/uade/ia/entities/business/Image.java
back/workspace/portal-seven-ejb/ejbModule/ar/edu/uade/ia/entities/business/Image.java
back/workspace/portal-seven-ejb/ejbModule/META-INF/persistence.xml
*.xml
back/workspace/portal-seven-ejb/ejbModule/ar/edu/uade/ia/entities/business/Image.java
