<h2 md-dialog-title>Confirmación de Reserva</h2>
<hr style="border-color: black;">
<md-dialog-content>
  <h2>{{srv.getSelected().hotel.name}}</h2>
  <p>Habitación tipo: {{srv.getSelected().room.type}}</p>
  <p><b>Precio Total: {{srv.getSelected().price | currency:'ARS':true}}</b></p>
  <p>Medios de Pago: {{srv.getSelected().hotel.paymentMethods | join: ' - '}}</p>
</md-dialog-content>
<md-dialog-actions align="center">
    <button md-raised-button type="button" color="success" (click)="onConfirm()">
        <i class="fa fa-check" aria-hidden="true"></i> Confirmar
    </button>
    <button md-raised-button type="button" color="warn" (click)="onCancel()">
        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
    </button>
</md-dialog-actions>
