.card-result {
    margin-top:2px;
}
.card-row {
    height: 330px;
    cursor:pointer;
    margin-bottom: 2px;
}
.mat-card-header {
    margin-top: 10px;
}
.img-card {
    margin: auto; 
    height: 120px; 
    width: 200px;
}

.ribbon {
    position: absolute;
    top: 0px;
    right: 0px;
}
.non-favorite {
    background-color: pink;
    color:red;
}
.favorite {
    background-color: lightgray;
    color:rgb(216, 159, 159);
}