.card-result {
    margin-top:2px;
}
.card-row {
    height: 330px;
    cursor:pointer;
    margin-bottom: 2px;
}
.mat-card-header {
    margin-top: 10px;
}
.img-card {
    margin: auto; 
    height: 120px; 
    width: 200px;
}

.ribbon {
    position: absolute;
    top: 2px;
    right: 2px;
}
.non-favorite {
    color: rgb(170, 156, 156);
}
.favorite {
    color:red;
}