<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <img class="logo-image img-circle" height="30" width="30" src="portal-seven-web/assets/images/logo.jpg">
        Portal Web G7</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="hotel">Hoteles</a></li>
        <li routerLinkActive="active"><a routerLink="package">Paquetes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" app-dropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">
            {{user.firstName + " " +user.sureName}} 
            <img class="img-circle" height="30" width="30" 
            [src]="user.image | imageGetter">
          </a>
          <ul class="dropdown-menu">
              <li routerLinkActive="active"><a style="cursor: pointer;" 
                routerLink="user-profile">Perfil de Usuario</a></li>
            <li><a style="cursor: pointer;" (click)="logout()">Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>