<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <img class="logo-image img-circle" height="30" width="30" src="portal-seven-web/assets/images/logo.jpg">
        Portal Web G7</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
          <li class="dropdown" app-dropdown>
            <a style="cursor: pointer;" class="dropdown-toggle" role="button">
                Ofertas
            </a>
            <ul class="dropdown-menu">
                <li routerLinkActive="active"><a routerLink="hotel-offer">Hotelera</a></li>
                <li routerLinkActive="active"><a routerLink="package-offer">Paquetes</a></li>
            </ul>
          </li>
      </ul>
      <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="configuration">Configuración</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" app-dropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">
            {{user.firstName | whenNullPutBlank }}  {{ user.sureName | whenNullPutBlank }} 
            <img class="img-circle" height="30" width="30" 
            [src]="user.image | imageGetter">
          </a>
          <ul class="dropdown-menu">
              <li routerLinkActive="active"><a style="cursor: pointer;" 
                routerLink="user-profile">Perfil de Usuario</a></li>
                <li role="separator" class="divider"></li>
            <li><a style="cursor: pointer;" (click)="logout()">Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
