.card-result {
    margin-top:2px;
}
.card-row {
    border-radius:5px;
    height: 305px;
    cursor:pointer;
    margin-bottom: 2px;
}
.mat-card-header {
    margin-top: 10px;
}
.img-card {
    border-radius: 5px;
    margin: auto; 
    height: 120px; 
    width: 200px;
}