<app-package-offer-filter (search)="onSearch($event)" (reset)="onReset()"></app-package-offer-filter>
<div class="change-view-toggle" *ngIf="results.length > 0">
  <md-button-toggle-group>
    <md-button-toggle md-mini-fab color="primary" value="left" 
      (click)="onChangeView('grid')" [checked]="view == 'grid'">
        <i class="fa fa-table" aria-hidden="true"></i>
    </md-button-toggle>
    <md-button-toggle md-mini-fab color="primary" value="center" 
      (click)="onChangeView('list')" [checked]="view == 'list'">
        <i class="fa fa-th-list" aria-hidden="true"></i>
    </md-button-toggle>
    <md-button-toggle md-mini-fab color="accent" value="right"
      (click)="onChangeView('card')" [checked]="view == 'card'">
        <i class="fa fa-th" aria-hidden="true"></i>
    </md-button-toggle>
  </md-button-toggle-group>
</div>
<div *ngIf="results.length > 0">
    <app-package-offer-grid-result [packageOffers]="results" *ngIf="view == 'grid'"></app-package-offer-grid-result>
    <app-package-offer-list-result [packageOffers]="results" *ngIf="view == 'list'"></app-package-offer-list-result>
    <app-package-offer-card-result [packageOffers]="results" *ngIf="view == 'card'"></app-package-offer-card-result>
</div>
<!--<md-paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>-->