
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <md-card>
      <md-card-header>
        <md-card-title>Busqueda de Hoteles</md-card-title>
        <md-card-subtitle>Filtro de busqueda</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div class="row">
          <div class="col-md-12">
            <md-input-container>
              <input mdInput placeholder="Nombre de Hotel" 
                [mdAutocomplete]="tdAuto" 
                name="hotel" 
                  #state="ngModel" [(ngModel)]="hotel"
                (ngModelChange)="hotels = filterStates(hotel)">
            </md-input-container>
            <md-autocomplete #tdAuto="mdAutocomplete">
              <md-option *ngFor="let h of hotels" [value]="h">
                <span>{{ h }}</span>
              </md-option>
            </md-autocomplete>
            <md-select placeholder="Cantidad de Habitaciones" 
              [(ngModel)]="selectedRoomQuantity" 
              name="roomQuantity">
              <md-option *ngFor="let rq of quantityOptions" [value]="rq.value">
                {{ rq.viewValue }}
              </md-option>
            </md-select>
            <md-select placeholder="Personas por habitación"
              [(ngModel)]="selectedPeoplePerRoom" 
              name="peoplePerRoom">
                <md-option *ngFor="let pr of quantityOptions" [value]="pr.value">
                  {{ pr.viewValue }}
                </md-option>
            </md-select>
            <md-form-field>
              <input name="fromDate" [(ngModel)]="fromDate"
              [mdDatepicker]="fromPicker" placeholder="Fecha Desde" mdInput>
              <md-datepicker-toggle mdSuffix [for]="fromPicker"></md-datepicker-toggle>
              <md-datepicker #fromPicker></md-datepicker>
            </md-form-field>
            <md-form-field>
              <input name="toDate" [(ngModel)]="toDate"
              [mdDatepicker]="toPicker" placeholder="Fecha Hasta" mdInput>
              <md-datepicker-toggle mdSuffix [for]="toPicker"></md-datepicker-toggle>
              <md-datepicker #toPicker></md-datepicker>
            </md-form-field>
          </div>
        </div>
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button type="submit" color="success" [disabled]="!form.valid">Buscar</button>
        <button md-raised-button type="reset" color="warn" (click)="onReset()">Limpiar</button>
      </md-card-actions>
    </md-card>
  </form>