<h2 md-dialog-title>{{hotelOffer.hotel.name}}</h2>
<hr style="border-color: black;">
<md-dialog-content>
  <h3>Descripción</h3>
  <p>{{hotelOffer.hotel.description}}</p>
  <h3>Politicas de cancelación</h3>
  <p>{{hotelOffer.cancellationPolicy}}</p>
  <h3>Imagenes del Hotel</h3>
  <app-img-gallery [images]="hotelOffer.hotel.images"></app-img-gallery>
  <hr>
  <h3>Ubicación</h3>
  <app-map [address]="hotelOffer.hotel.address"></app-map>
  <hr>
  <md-tab-group>
    <md-tab label="Habitación" >
      <h3>Descripción</h3>
      <p>{{hotelOffer.room.description}}</p>
      <p>Tipo: {{hotelOffer.room.type}}</p>
      <h3>Imagenes de la habitación</h3>
      <app-img-gallery [images]="hotelOffer.room.images"></app-img-gallery>
    </md-tab>
    <md-tab label="Otras Habitaciones" *ngIf="hotelOffer.hotel.rooms.length > 0">
      <div *ngFor="let room of hotelOffer.hotel.rooms">
        <h3>Descripción</h3>
        <p>{{room.description}}</p>
        <p>Tipo: {{room.type}}</p>
        <h3>Imagenes de la habitación</h3>
        <app-img-gallery [images]="room.images"></app-img-gallery>
      </div>
    </md-tab>
  </md-tab-group>
</md-dialog-content>
<md-dialog-actions align="end">
    <button md-raised-button type="button" color="success" (click)="onReserve()">
        <i class="fa fa-check" aria-hidden="true"></i> Reservar
    </button>
    <button md-dialog-close md-raised-button type="button" color="warn" (click)="onClose()">
        <i class="fa fa-times" aria-hidden="true"></i> Cerrar
    </button>
</md-dialog-actions>
