<h2 md-dialog-title>{{srv.getSelected().hotel.name}}</h2>
<hr style="border-color: black;">
<md-dialog-content>
  <h3>Descripción</h3>
  <p>{{srv.getSelected().hotel.description}}</p>
  <h3>Politicas de Cancelación</h3>
  <p>{{srv.getSelected().cancellationPolicy}}</p>
  <h3>Imagenes del Hotel</h3>
  <app-img-gallery [images]="srv.getSelected().hotel.images"></app-img-gallery>
  <hr>
  <h3>Ubicación</h3>
      <app-map [address]="srv.getSelected().hotel.address"></app-map>
  <hr>
  <div class="col-md-12 tabs-detail">
    <md-tab-group (selectChange)="getOtherRooms($event)">
      <md-tab label="Habitación" >
        <h3>Descripción</h3>
        <p>{{srv.getSelected().room.description}}</p>
        <h3>Tipo de Habitación</h3>
        <p>Tipo: {{srv.getSelected().room.type | roomType}}</p>
        <h3>Servicios</h3>
        <p>{{srv.getSelected().room.services  | join:' - '}}</p>
        <h3>Imagenes de la habitación</h3>
        <app-img-gallery [images]="srv.getSelected().room.images"></app-img-gallery>
      </md-tab>
      <md-tab label="Otras Habitaciones">
        <div *ngFor="let room of otherRooms">
          <h3>Descripción</h3>
          <p>{{room.description}}</p>
          <h3>Tipo de Habitación</h3>
          <p>Tipo: {{room.type | roomType}}</p>
          <h3>Servicios</h3>
          <p>{{room.services | join: '-'}}</p>
          <h3>Imagenes de la habitación</h3>
          <app-img-gallery [images]="room.images"></app-img-gallery>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</md-dialog-content>
<md-dialog-actions align="end">
    <button md-raised-button type="button" color="success" (click)="onReserve()">
        <i class="fa fa-check" aria-hidden="true"></i> Reservar
    </button>
    <button md-dialog-close md-raised-button type="button" color="warn" (click)="onClose()">
        <i class="fa fa-times" aria-hidden="true"></i> Cerrar
    </button>
</md-dialog-actions>
