<app-hotel-offer-filter></app-hotel-offer-filter>
<app-sort *ngIf="hasResults()" [type]="'hotel'"></app-sort>
<div class="change-view-toggle" *ngIf="hasResults()">
  <md-button-toggle-group mdTooltip="Cambio de vistas">
    <md-button-toggle md-mini-fab color="primary" value="left" 
      (click)="onChangeView('card')" [checked]="view == 'card'">
        <i class="fa fa-th" aria-hidden="true"></i>
    </md-button-toggle>
<!--    <md-button-toggle md-mini-fab color="primary" value="center" 
      (click)="onChangeView('list')" [checked]="view == 'list'">
        <i class="fa fa-th-list" aria-hidden="true"></i>
    </md-button-toggle>-->
    <md-button-toggle md-mini-fab color="accent" value="right"
      (click)="onChangeView('grid')" [checked]="view == 'grid'">
        <i class="fa fa-table" aria-hidden="true"></i>
    </md-button-toggle>
  </md-button-toggle-group>
</div>
<div *ngIf="hasResults()">
  <app-hotel-offer-grid-result *ngIf="view == 'grid'"></app-hotel-offer-grid-result>
  <!--<app-hotel-offer-list-result *ngIf="view == 'list'"></app-hotel-offer-list-result>-->
  <app-hotel-offer-card-result *ngIf="view == 'card'"></app-hotel-offer-card-result>
</div>