.card-row {
    border-radius:5px;
    height: 365px;
    margin-bottom: 2px;
}

.mat-card-header {
    margin-top: 10px;
}

.img-card {
    border:1px solid black;
    border-radius: 5px;
    margin: auto; 
    height: 120px; 
    width: 200px;
}

.confirme-favorite-btn {
    width: 100%;
}

.fav-stars{
    position: relative;
}