.card-row {
    height: 340px;
    margin-bottom: 2px;
}

.mat-card-header {
    margin-top: 10px;
}

.img-card {
    margin: auto; 
    height: 120px; 
    width: 200px;
}
.confirme-favorite-btn {
    width: 100%;
}