<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3
col-md-offset-2 col-md-8 col-md-offset-2
col-sm-offset-2 col-sm-8 col-sm-offset-2 
col-xs-offset-2 col-xs-8 col-xs-offset-2">
<md-card>
 <md-card-header>
   <md-card-title>¡Felicitaciones! Has reservado el hotel.</md-card-title>
 </md-card-header>
 <md-card-content>
     <div class="col-lg-6 col-md-6" style="margin-top: -20px;">
     </div>
     <div class="col-lg-6 col-md-6">

     </div>
 </md-card-content>
 <md-card-actions align="center">
     <button class="accept-resume-btn" 
       md-raised-button 
       type="button" color="primary">
       Aceptar
     </button>
   </md-card-actions>
</md-card>
</div>